.d-flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .evenly {
    justify-content: space-evenly;
  }
  
  .between {
    justify-content: space-between;
  }
  
  .gap-4 {
    gap: 4rem;
  }
  
  .align-center {
    align-items: center;
  }
  
  .align-start {
    align-items: flex-start;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-2 {
    margin-bottom: 2rem;
  }
  
  .p-4 {
    padding: 4rem;
  }
  
  .pt-4 {
    padding-top: 4rem;
  }